extends ../config/template
append config
    - pageTitle = "Inicio"
    - pageDescriptionSeo = ""
    - currentPage = "Inicio"

block content
    .container
        h1.mt-24.mb-12 Hola mundo!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi numquam debitis vel exercitationem mollitia consectetur quasi vero, cupiditate nulla dolor.