- let siteName = "Nombre del sitio web"
- let pageTitle = "Inicio"
- let pageDescription = "Descripción general del sitio web"
- let pageDescriptionSeo = "Aquí va una breve descripción para SEO"
- let currentPage = "Inicio"
- let assets = "assets"

-
    let pages = [
        {
            title: "Inicio",
            url: "/"
        },
        {
            title: "...",
            url: ".html"
        },
        {
            title: "...",
            url: ".html"
        }
    ]